<li class="post_item">
<div class="excerpt">
  <div class="excerpt_header">
    <h3 class="post_link">
      <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
    </h3>
    <!-- 元数据保持不变 -->
  </div>
  <div class="excerpt_footer partition">
    <a href="{{ .Permalink }}" title="{{ .Title | plainify }}" class="thumbnail-link">
      <div class="excerpt_thumbnail">
        <figure>
          <picture>
            <img loading="lazy" decoding="async" alt="{{ .Title | plainify }}" class="image_figure image_thumbnail image_internal" src="{{ .Params.thumbnail | relURL | default "/images/default.jpg" }}" />
          </picture>
        </figure>
      </div>
    </a>
    <div class="pale">
      <p>{{ .Summary | plainify | truncate 150 }}</p>
      <!-- 删除 <br> 和 <a class="excerpt_more button">阅读更多</a> 这两行 -->
    </div>
  </div>
</div>
